aiohttp
aiofiles
aioshutil
anytree
apscheduler
asyncio
bencoding
beautifulsoup4
cfscrape
dnspython
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
lxml
motor
pillow
psutil
pybase64
pymongo
pyrogram
python-dotenv
python-magic
requests
speedtest-cli
telegraph
tenacity
tgCrypto
uvloop
xattr
yt-dlp
urllib3==1.26.15

